body {

  background-image: url(http://www.clipartkid.com/images/531/raining-money-youtube-4DungS-clipart.jpg);

}

h1 {
  text-align: center;

 }

#container {
  background-color: lightgray;
  border: 5px solid darkgray;
  width: 750px;
  height: 500px;
  margin: 50px;

}

#display {
  background-color: white;
  height: 100px;
  margin: 15px;
  font-family: arial;

}

#registerPad {
  background-color: darkgray;
}

#actions {
  background-color: red;

}

#operators {
  background-color: orange;

 }

.actionButtons {
  font-size: 30;
  border-color: black;


  }

.numberButtons{


}

.operatorButtons{


}